<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Add Map</title>

    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <script src="../js/main.js"></script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb9HQGlIFqlL_QaCQh2_vQx6cDtOFai0c&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>